/* Reset some default browser styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Apply a basic global font and styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Apply styles to the root element */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
}

/* Add styles for links */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}